<!DOCTYPE html>
<html>
<head>
    <title>Pacman Player</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var socket = io();
            document.onkeydown = function(e){
                socket.emit('pacmanmove', e.keyCode);
            }
        })
    </script>
</head>
<body>
    <h1>Hey you're a Pacman!</h1>
    <h2>Use the arrow keys to move</h2>
</body>
</html>