<html>
<head>
	<title>Pacman</title>
	<link rel="stylesheet" type="text/css" href="../pacman/styles/styles.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../pacman/scripts/pacman.js"></script>
    <script type="text/javascript" src="../pacman/scripts/ghost.js"></script>
    <script type="text/javascript" src="../pacman/scripts/world.js"></script>
    <script type="text/javascript" src="../pacman/scripts/scripts.js"></script>
</head>
<body>
	<div id='container'>
		<div id='world'></div>
		<div id='pacman'></div>
		<div id='ghost'></div>
		<div id='name'><%=firstName%> <%=lastName%></div>
		<div id='age'><%=age%></div>
		<div id='score'>0</div>
	</div>
</body>
</html>