<html>
<head>
	<title>Tetris</title>
	<link rel="stylesheet" type="text/css" href="../tetris/styles/styles.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../tetris/scripts/scripts.js"></script>
</head>
<body>
	<div id='container'>
		I am a Tetris game!!
	</div>
</body>
</html>